<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>
<th:block th:replace="~{fragments :: custom-navbar}"></th:block>

<body>
    <section class="pizza-details mb-2">
        <div class="container">
            <h1 class="text-center"> [[${pizza.name}]]</h1>
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <img th:src="@{${pizza.photo} != null ? '/imgs/' + ${pizza.photo} : '/imgs/placeholder.png'}"
                        class="card-img-top" alt="..." />
                </div>
                <div class="col-6">
                    <p th:text="${pizza.description}"></p>
                    <p>Prezzo: €[[${pizza.price}]]</p>
                    <p>Ingredienti:</p>
                    <div>
                        <th:block th:each="ingredient : ${pizza.ingredients}">
                            <span class="badge bg-secondary" th:text="${ingredient.name}"></span>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pizza-deals">
        <div class="container mb-2">
            <a th:href="@{/pizzas/{id}/deal(id=${pizza.id})}" class="btn btn-outline-danger w-100 px-0">Crea Offerta</a>
        </div>
        <div class="container" th:if="${!pizza.deals.isEmpty()}">
            <h4>Offerte disponibili:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data inizio</th>
                        <th>Data fine</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="deal : ${pizza.deals}" th:object="${deal}">
                        <tr>
                            <td th:text="*{title}"></td>
                            <td th:text="*{startDate}"></td>
                            <td th:text="*{endDate}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class="container" th:if="${pizza.deals.isEmpty()}">
            <div class="alert alert-info h-100" role="alert">
                <i>Non ci sono offerte disponibili per la pizza selezionata</i>
            </div>
    </section>
</body>

</html>