<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>
<th:block th:replace="~{fragments :: custom-navbar}"></th:block>

<body>
    <div class="container">
        <h1 class="text-center">Crea una nuova offerta per la pizza [[${pizza.name}]]</h1>

        <form id="deal-form" th:action="@{/deals/create}" method="post" th:object="${deal}">

            <input type="hidden" th:field="*{pizza}" />

            <div class="mb-3">
                <div>
                    <label for="title" class="form-label">Titolo</label>
                    <input type="text" class="form-control" id="title" name="title" required th:field="*{title}"
                        th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <label for="start-date" class="form-label">Data d'inizio</label>
                    <input type="date" class="form-control" id="start-date" name="start-date" th:field="*{startDate}"
                        th:errorclass="is-invalid"></input>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <label for="end-date" class="form-label">Data di fine</label>
                    <input type="date" class="form-control" id="end-date" name="end-date" th:field="*{endDate}"
                        th:errorclass="is-invalid"></input>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mb-3 d-flex justify-content-between">
                <input type="submit" class="btn btn-primary" value="Crea" />
                <input type="reset" class="btn btn-danger" value="Annulla" />
            </div>
        </form>
    </div>
</body>

</html>